---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Header from '../components/Header.astro';
import SeenOn from '../components/SeenOn.astro';
import Features from '../components/Features.astro';
import Testimony from '../components/Testimony.astro';
import Showcase from '../components/Showcase.astro';
import Faq from '../components/Faq.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Astro Idol - The best Astro boilerplate">
	<main>
		<Header />
		<Hero />
		<Features />
		<Testimony />
		<Showcase />
		<Faq />
		<ContactForm />
		<Footer />
	</main>
</Layout>


