---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import PriceTable from '../components/PriceTable.astro';
import SeenOn from '../components/SeenOn.astro';
import Faq from '../components/Faq.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Rapid Insights - Pricing & Services">
	<main>
		<Header />
        <PriceTable />        
		<Faq />
		<Footer />
	</main>
</Layout>


